.deps/
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.log
config.status
configure
libtool
sdk/*.zip*

stamp-h1
mssilk.iss
compile
config.h
config.h.in
config.guess
config.sub
depcomp
install-sh
ltmain.sh
missing
m4
sdk/SILK_SDK_SRC_v*
